*{
box-sizing: border-box;

}
*{
    margin:0px;
    padding:0px;
}
span{
    font-family:sans-serif;
    
}

.top-container{
    height:2.3rem;
    background-color:#27081D;
    display: flex;
    align-items: center;    
    justify-content: center;

    
}
.upper-color{
    color:#EBB37D;
    margin-left: 2rem;
}
.one{
 margin-left: 4rem;
 color:#EBB37D;
}

.navbar{
    height: 5rem;
    width: 100%;
    background-color:#FBEBD7;
    padding-left: 7rem;
    padding-top: 1.5rem;
    display: flex;
    padding-bottom: 1rem;
    align-items: center;

}
.section1{
    font-size: 24px;
    color: #27081D;
}

.navbar-section2{
        margin-left: 4rem;
}
h1{

    margin-left: 14rem;
    margin-right: 15rem;
    font-family: sans-serif;
    color: #27081D;

}
.section3{
    font-size: 24px;
    color: #27081D;
    display: flex;
    
}
.person{
    margin-left: 2rem;
    margin-right: 2rem;
}
.cart{
    margin-left: 1.5rem;
}
.slider-img{
    height: 50px;
    width: 50px;
}
.variety{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 2px;
    margin-bottom: 0.7rem;
}
.first-circle{
    border-color: #27081D;
}
.unique-button{
    background-color: #27081D;

}

