*{
box-sizing: border-box;

}
*{
    margin:0px;
    padding:0px;
}
span{
    font-family:sans-serif;
    
}

.top-container{
    height:2.3rem;
    background-color:#27081D;
    display: flex;
    align-items: center;    
    justify-content: center;
    
    
}
.upper-color{
    color:#EBB37D;
    margin-left: 2rem;
}
.one{
 margin-left: 4rem;
 color:#EBB37D;
}

.navbar{
    height: 5rem;
    min-width: 100%;
    background-color:#FBEBD7;
    padding-left: 7rem;
    padding-top: 1.5rem;
    display: flex;
    padding-bottom: 1rem;
    align-items: center;

}
.section1{
    font-size: 24px;
    color: #27081D;
}

.navbar-section2{
        margin-left: 4rem;
}
h1{

    margin-left: 14rem;
    margin-right: 15rem;
    font-family: sans-serif;
    color: #27081D;

}
.section3{
    font-size: 24px;
    color: #27081D;
    display: flex;
    
}
.person{
    margin-left: 2rem;
    margin-right: 2rem;
}
.cart{
    margin-left: 1.5rem;
}
.slider-img{
    height: 50px;
    width: 50px;
}
.variety{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 2px;
    margin-bottom: 0.7rem;
}
.first-circle{
    border-color: #27081D;
}
.unique-button{
    background-color: #27081D;
}
.active-selection{
    display: flex;
    flex-direction: column;
}

.rose-gold{
    font-size: 40px;
    
}
.first-circle{
width: 55px;
margin-left: 1rem;
}
.second-circle{
    margin-bottom: 1.2rem;
    margin-right: 1rem;
}
.third-circle{
    margin-bottom: 1.2rem;
}
.product-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    display: flex;
    margin-right: 11rem;
    max-width: 100%;
}
.slider-section{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
    margin-bottom: rem;
    position: sticky;
     

}

.over{
    font-size: 20px;
    margin-top: 0.5rem;
    color: #27081D;
}


.slider-img
{
    margin: 0.3rem;
}
.arrow{
    width: 15px;
    margin-left: 1.3rem;
}
.best-seller{
    position:absolute;
    left:38rem;
    top:10.5rem;
}
.front-photo{
    margin-right: 5rem;
}
.rating{
    margin-top: 0.5rem;
    color: #27081D;
    margin-bottom: 1.5rem;
}
.review{
    margin-left: 1rem;
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.award-line{
    font-size: 18px;
    padding-right: 4rem;
    color: #27081D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.minus-plus{
    margin-top: 3rem;
    margin-right: 2rem;
    
    
}
.button {
    background-color: #EA6039; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 60px;
    width: 400px;
    margin-top: 2.2rem;

}


    .cart-container{
        display: flex;
        
    }
    .minus-plus{
        height: 40px;
    }
.two{
    margin-top: 2rem;
    margin-left: 11.4rem;
}

.smoothfineline{
    display: flex;
    font-size: 10px;
    align-items: center;
    color: #27081D;
}
.application-first-row{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
}
.review1{
    font-size: 13px;
    margin-left: 1rem;
    
}

.application-second-row{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}
.facilities{
    display: flex;
    margin-top: 2rem;
    color: #27081D;
    margin-bottom: 2rem;    
}
.three{
margin-left: 2.3rem;
margin-right: 1.5rem;
font-size: 18px;
color: #27081D;

}
.containeroffour{
    margin-bottom:1.5rem ;
}

.technology{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.htu{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.included{
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.specification{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.plus1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #27081D;
    cursor: pointer;
}
.expected-technologies{
   color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: none;
}
.expected-use{
       color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: none;

}
.expected-including{
    color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: none;

}
.expected-specification{
    color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    display: none;

}
.result-container{
    padding: 3rem;
    height: 130vh;
    width: 100vw;
    background-color: #744D51;
}
.result-container-heading{
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    color:#EBB37D;
    margin-bottom: 3rem;
}
.card1{
    height: 85vh;
    width:22.5vw;
    background-color: #EBB37D;
    color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.girl-1-container{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    
    border-bottom:1px solid #27081D;    
}
.age{
    margin-top: 1rem;
    margin-right: 4.6rem;
    
}
.days{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.skin{
    margin-top: 1rem;
    
}
.concern{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    
}
.characteristics1{
    margin-right: 1rem;
}
.biodata1{
    border-right: 1px solid #27081D;
    
}
.notes-girl1{
    margin-left: 1rem;
    margin-top: 1.5rem;
    font-size: 14px;
}
.written-note{
    font-size: 14px;
    margin-top: 1rem;
    line-height: 150%;
    margin-right: 1rem;
}
.all-cards{
    display: flex;
}
.card1{
    
    max-width:22.5vw;
    background-color: #EBB37D;
    color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    filter: blur(2px);
    margin-right: 20rem;
    margin-left: 13rem;
}
.card2{
    height: 85vh;
    width:22.5vw;
    background-color: #EBB37D;
    color: #27081D;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    filter: blur(2px);    
}

@media only  screen and(min-width:480px) and (max-width:1980px) {
    .product-container{
        width: 100%;
    }
}